<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ProgrammingWin-JS-CH7-FlipView" Version="2.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>FlipView control JS sample (modified)</DisplayName>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Description>FlipView control SDK Sample (modified)</Description>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="FlipView control JS sample" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="FlipView control JS sample (modified)" ForegroundText="light" BackgroundColor="#003765" ToastCapable="false">
        <DefaultTile ShortName="FlipView control JS (mods)" ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>