.homepage section[role=main] {    
    overflow-x: auto;    
    -ms-scroll-snap-type: mandatory;
    /* Snap points must occur on a pannable element. The values here reflect the
       positions of each hub section plus the 120px left border so they align to
       the header text. The fifth section, however, can't be fully panned to that
       placement, however, as the div isn't that wide. At most we can pan 80px 
       beyond the previous section (to accomodate the right 80xp border), so 
       that point is 1715px + 80px = 1795px */    
    -ms-scroll-snap-points-x: snapList(0px, 670px, 1045px, 1715px, 1795px);
}

.homepage .hubSections {    	
    width: 3176px; /* Adding one for the rightmost border */
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: 1fr;
	-ms-grid-columns: 120px 2fr 80px 1fr 80px 2fr 80px 2fr 80px 2fr 80px;
}

.homepage .hubSection1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2; 
    width: 100%;
    height: calc(100% - 2px);
	border: solid 1px green;    
}

.homepage .hubSection2 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    width: 100%;
    height: calc(100% - 2px);
	border: solid 1px yellow;    
}

.homepage .hubSection3 {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    width: 100%;
    height: calc(100% - 2px);
	border: solid 1px white;    
}

.homepage .hubSection4 {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
    width: 100%;
    height: calc(100% - 2px);
	border: solid 1px blue;    
}

.homepage .hubSection5 {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
    width: 100%;
    height: calc(100% - 2px);
	border: solid 1px red;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
