body {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

#mainContent {
    width: 100%;
    height: 100%;
    margin: 20px;
}

#splashScreen {
    background: #B25000;  /* Matches the splash screen color in the manifest */
    width: 100%;          /* Cover the whole display area */
    height: 100%;
}

    #splashScreen #counter {
        margin: 10px;
        font-size: 20px;        
    }

    /* Absolute positioning on children allows exact placement relative
       to default splash screen image. */
    #splashScreen #logo {
        position: absolute;    
    }

    #splashScreen #title {
        position: absolute;    
    }

    #splashScreen #progress {
        position: absolute;
        color: #fc2; /* Use a gold ring instead of default purple */
    }
