<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ProgrammingWin-JS-CH3-HereMyAm3a" Version="2.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>Here My Am! (3a)</DisplayName>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Here My Am! (3a)" Description="Here My Am! (3a) is a branded version of the Here My Am app from Chapter 2, demonstrating how to incorporate multiple images for different pixel densities. Note that because we have the app name in the tiles, we could turn off &quot;Show Name&quot; below to supress the label in the tile, but we're leaving it here so that the many different versions of this app can be distinguished on the Start page without having to modify the tiles." BackgroundColor="#00B294" ForegroundText="light" Square150x150Logo="images\tile.png" Square30x30Logo="images\smalllogo.png">
        <m2:DefaultTile Wide310x150Logo="images\widetile.png" Square310x310Logo="images\largetile.png" Square70x70Logo="images\smalltile.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#00B294" Image="images\splashscreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>