<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ProgrammingWin-JS-AppendixD-AppointmentsProvider" Version="2.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>AppointmentsProvider (D)</DisplayName>
    <PublisherDisplayName>kraigb</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Appointments Provider (D)" Description="A basic implementation of the appointments provider extensions" ForegroundText="light" BackgroundColor="#003765" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile ShortName="Appts Provider (D)">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" />
      </m2:VisualElements>
      <Extensions>
        <m2:Extension Category="windows.appointmentsProvider" StartPage="default.html">
          <m2:AppointmentsProvider>
            <m2:AppointmentsProviderLaunchActions>
              <m2:LaunchAction Verb="addAppointment" StartPage="html/manageAppointment.html" />
              <m2:LaunchAction Verb="removeAppointment" StartPage="html/manageAppointment.html" />
              <m2:LaunchAction Verb="replaceAppointment" StartPage="html/manageAppointment.html" />
              <m2:LaunchAction Verb="showTimeFrame" />
            </m2:AppointmentsProviderLaunchActions>
          </m2:AppointmentsProvider>
        </m2:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>