<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:wb="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ProgrammingWin-JS-CH3-PageStyling" Version="2.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>PageStyling</DisplayName>
    <PublisherDisplayName>kraigb</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <wb:VisualElements DisplayName="Page Styling (3)" Description="Demonstrates using both WinJS light and dark stylesheets in different pages, using the ui-dark.css stylesheet as the default and applying win-ui-light styles on page 2 specifically." BackgroundColor="#003765" ForegroundText="light" Square150x150Logo="images\logo.png" Square30x30Logo="images\smalllogo.png">
        <wb:DefaultTile>
          <wb:ShowNameOnTiles>
            <wb:ShowOn Tile="square150x150Logo" />
          </wb:ShowNameOnTiles>
        </wb:DefaultTile>
        <wb:SplashScreen Image="images\splashscreen.png" />
      </wb:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>