body {
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;	
}
	
#mainContent {
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr 60px;
}

#header {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	display: -ms-grid;
	-ms-grid-columns: 120px 1fr 40px;
	-ms-grid-rows: 1fr;
}

#section {
	-ms-grid-column: 1;
	-ms-grid-row: 2;
    margin-left: 120px;
}

.titlearea {
	-ms-grid-column: 2;
    -ms-grid-row: 1;
	margin-top: 37px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped)
{	
	#mainContent {
		-ms-grid-rows: 128px 1fr 20px;
	}

	#header {
		-ms-grid-columns: 30px 1fr 20px;
	}
    
    #section {
	    margin-left: 30px;
    }    

	.titlearea {		
		margin-top: 68px;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait)
{	
	#header {
		-ms-grid-columns: 100px 1fr 30px;
	}
    
    #section {
	    margin-left: 100px;
    }    
}