<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ProgrammingWin-JS-CH4-HereMyAm4" Version="2.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>Here My Am! (4)</DisplayName>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Here My Am! (4)" Description="Here My Am! (4) is functionally identical to Here My Am! (3d) but now uses an x-ms-webview element instead of an iframe to host the map control. It also uses the webview's invokeScriptAsync method and MSWebViewScriptNotify event to communicate with the hosted content instead of a custom means using postMessage." BackgroundColor="#00B294" ForegroundText="light" Square150x150Logo="images\tile.png" Square30x30Logo="images\smalllogo.png">
        <m2:DefaultTile Wide310x150Logo="images\widetile.png" Square310x310Logo="images\largetile.png" Square70x70Logo="images\smalltile.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#00B294" Image="images\splashscreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>