<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ProgrammingWin8-JS-CH3-HereMyAm3d" Version="1.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>Here My Am! (3d)</DisplayName>
    <Description>HereMyAm3d</Description>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Here My Am! (3d)" Logo="images\tile.png" SmallLogo="images\smalllogo.png" Description="Here My Am! (3d) is functionally identical to Here My Am! (3c) but is structurally different. It utilizes a WinJS PageControl and the PageControlNavigator from the Navigation App template so that the contents of the home page are located within the Page Control and not in the default.* files." ForegroundText="light" BackgroundColor="#00B294">
        <DefaultTile ShowName="allLogos" WideLogo="images\widetile.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#00B294" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>