/* styles */
#output {
    display: -ms-grid;
    width: 100%;
    height: 100%;
    background: #FED;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
}

#canvasElement1 {
    -ms-grid-column: 1;
}

#canvasElement2 {
    -ms-grid-column: 2;
}

.scaleImage {
    transform: scale(1.5, 4) translateX(60px) translateY(75px);
}
