<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ProgrammingWin8-JS-CH7-HereMyAm7" Version="1.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>Here My Am!  (7)</DisplayName>
    <Description>HereMyAm7</Description>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Here My Am! (7)" Logo="images\tile.png" SmallLogo="images\smalllogo.png" Description="Here My Am! (7) builds on Here My Am! (3d), which uses Page controls and WinJS navigation, to now do a much better job surfacing geolocation errors and to offer an app bar command to retry. A flyout is used with retry to indicate continued failure (with a retry button), and an inline overly on the map is used to indicate failure." ForegroundText="light" BackgroundColor="#00B294">
        <DefaultTile ShowName="allLogos" WideLogo="images\widetile.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#00B294" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>