<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ProgrammingWin8-JS-CH17-HereMyAm17" Version="1.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>ms-resource:package_displayname</DisplayName>
    <Description>HereMyAm17</Description>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="ms-resource:app_title" Logo="images\tile.png" SmallLogo="images\smalllogo.png" Description="ms-resource:app_description" ForegroundText="light" BackgroundColor="#00B294">
        <DefaultTile ShowName="allLogos" WideLogo="images\widetile.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#00B294" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>