<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ProgrammingWin8-JS-CH8-FileQuery" Version="1.0.0.0" Publisher="CN=kraigb" />
  <Properties>
    <DisplayName>File search JS sample (modified)</DisplayName>
    <PublisherDisplayName>Kraig Brockschmidt</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="FileSearchSample" StartPage="default.html">
      <VisualElements DisplayName="File search JS sample (modified)" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="File search JS sample (modified)" ForegroundText="light" BackgroundColor="#003765">
        <DefaultTile ShortName="File search JS sample" ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
  </Capabilities>
</Package>